<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Novo Contato</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

<script th:inline="javascript">
/*<![CDATA[*/
	document.addEventListener('DOMContentLoaded', function() {
		var focusId = /*[[${fieldToFocus}]]*/ '';
		document.getElementById(focusId).focus();
		document.getElementById(focusId).select();
	}, false);
/*]]>*/
</script>

</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
		<a th:href="@{/contatos}" class="navbar-brand">
			<i class="far fa-address-book"></i> Agenda
		</a>

		<a th:href="@{/logout}" class="navbar-brand">
			<i class="fas fa-sign-out-alt"></i>
		</a>
	</nav>
	<div class="container my-5">
		<h2>Editar Contato</h2>
		<div class="card">
			<div class="card-body">
				<div class="col-md-15">
					<form action="#" th:action="@{/contatos/salvar}"
						th:object="${contato}" method="post" id="editarForm">
						<div class="row">
							<div class="col-md-6">
								<input type="submit" class="btn btn-outline-dark"
									value="Salvar Contato">
							</div>
							<input type="hidden" id="id" th:field="*{id}">

							<div class="form-group col-md-12">
								<label for="nome" class="col-form-label">Nome</label> <input
									type="text" th:field="*{nome}" class="form-control" id="nome"
									placeholder="Nome"> <span
									th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-12">
								<label for="sobrenome" class="col-form-label">Sobrenome</label>
								<input type="text" th:field="*{sobrenome}" class="form-control"
									id="sobrenome" placeholder="Sobrenome"> <span
									th:if="${#fields.hasErrors('sobrenome')}"
									th:errors="*{sobrenome}" class="text-danger"></span>
							</div>

							<div class="form-group col-md-12">
								<label for="email" class="col-form-label">E-mail</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email"> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-12">
								<label for="dataNascimento" class="col-form-label">Data
									de Nascimento</label> <input type="date" th:field="*{dataNascimento}"
									class="form-control" id="dataNascimento"
									placeholder="DataNascimento"> <span
									th:if="${#fields.hasErrors('dataNascimento')}"
									th:errors="*{dataNascimento}" class="text-danger"></span>
							</div>

							<div class="form-group col-md-10"></div>
						</div>

						<div class="table-responsive">
							<h3>Telefones</h3>
							<span th:if="${#fields.hasErrors('telefones')}" th:errors="*{telefones}"
									class="text-danger"></span>
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Número</th>
										<th scope="col">Tipo</th>
										<th scope="col"><button type="submit" name="addTelefone"
												class="btn btn-outline-light">
												<i class="fas fa-plus-circle"></i>
											</button></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="telefone,telefoneStat : *{telefones}">
										<th scope="row" th:text="${telefoneStat.count}"><input
											type="hidden"
											th:field="*{telefones[__${telefoneStat.index}__].id}" /></th>
										<td><input type="text"
											th:field="*{telefones[__${telefoneStat.index}__].numero}" />
										</td>
										<td>
											<select form="editarForm" 
												id="tipo-id" 
												name="tipo-id" 
												th:field="*{telefones[__${telefoneStat.index}__].tipo}">
												<option th:each="tipoTelefone : ${tiposTelefone}" 
													th:value="${tipoTelefone.id}" 
													th:text="${tipoTelefone.nome}">
												</option>
											</select>
										</td>
										<td>
											<button type="submit" name="removeTelefone"
												th:value="${telefoneStat.index}" class="btn btn-danger">
												<i class="fas fa-minus-square"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="table-responsive">
							<h3>Endereços</h3>
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Descrição</th>
										<th scope="col">Estado</th>
										<th scope="col">Município</th>
										<th scope="col"><button type="submit" name="addEndereco"
												class="btn btn-outline-light">
												<i class="fas fa-plus-circle"></i>
											</button></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="endereco,enderecoStat : *{enderecos}">
										<th scope="row" th:text="${enderecoStat.count}"><input
											type="hidden"
											th:field="*{enderecos[__${enderecoStat.index}__].id}">
										</th>
										<td><input type="text"
											th:field="*{enderecos[__${enderecoStat.index}__].descricao}" /></td>
										<td><input type="text"
											th:field="*{enderecos[__${enderecoStat.index}__].estado}" /></td>
										<td><input type="text"
											th:field="*{enderecos[__${enderecoStat.index}__].municipio}" /></td>
										<td>
											<button type="submit" name="removeEndereco"
												th:value="${enderecoStat.index}" class="btn btn-danger">
												<i class="fas fa-minus-square"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>