<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Agenda</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a th:href="@{/contatos}" class="navbar-brand"><i
			class="far fa-address-book"></i> Agenda</a>
	</nav>
	<div class="container my-5">
		<div class="card">
			<div class="card-body">
				<div class="col-md-15">
					<h2>Lista de Contatos</h2>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Nome</th>
									<th scope="col">E-mail</th>
									<th scope="col"><a th:href="@{/contatos/novo}"
										class="btn btn-outline-light"><i class="fas fa-plus-circle"></i></a></th>
								</tr>
							</thead>
							<tr th:each="contato : ${contatos}">
								<td th:text="${contato.nome + ' ' + contato.sobrenome}"></td>
								<td th:text="${contato.email}"></td>
								<td><a
									th:href="@{/contatos/alterar/{id}(id=${contato.id})}"
									class="btn btn-outline-dark"><i
										class="fas fa-user-edit ml-2"></i></a> <a
									th:href="@{/contatos/excluir/{id}(id=${contato.id})}"
									class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>